<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>10433399512-6peqiaqmqs60lf7gvp8vkqmg6bbodobi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10433399512-6peqiaqmqs60lf7gvp8vkqmg6bbodobi</string>
	<key>GCM_SENDER_ID</key>
	<string>10433399512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.uk.hackinggames.HackingGames</string>
	<key>PROJECT_ID</key>
	<string>hackergames-aaeae</string>
	<key>STORAGE_BUCKET</key>
	<string>hackergames-aaeae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:10433399512:ios:1c42c3b133c315f0</string>
	<key>DATABASE_URL</key>
	<string>https://hackergames-aaeae.firebaseio.com</string>
</dict>
</plist>
